* {
  margin: 0;
  padding: 0;
  list-style: none; }

b {
  font-weight: 500; }

html,
body {
  width: 100%;
  height: 100%;
  background: #fff; }
  html .header-nav,
  body .header-nav {
    height: 150px;
    background: #ffe141; }
    html .header-nav > div:first-child,
    body .header-nav > div:first-child {
      display: flex;
      justify-content: space-between; }
      html .header-nav > div:first-child > div:first-child > span.mui-icon,
      body .header-nav > div:first-child > div:first-child > span.mui-icon {
        font-size: 20px;
        font-weight: 600;
        line-height: 40px; }
    html .header-nav > div:nth-child(2),
    body .header-nav > div:nth-child(2) {
      margin-top: 10px;
      height: 70px;
      width: 100%;
      display: flex;
      justify-content: center; }
      html .header-nav > div:nth-child(2) > p,
      body .header-nav > div:nth-child(2) > p {
        width: 90%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        border-bottom: 2px solid #000;
        justify-content: center; }
        html .header-nav > div:nth-child(2) > p > input,
        body .header-nav > div:nth-child(2) > p > input {
          font-size: 22px;
          color: #000;
          font-weight: 700;
          background: #ffe141;
          border: 0;
          outline: none;
          text-align: center;
          margin-bottom: 0; }
  html .type,
  body .type {
    width: 200px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    font-size: 15px;
    font-weight: 400;
    position: relative;
    overflow: hidden;
    border: 1px solid #007aff;
    border-radius: 20px;
    background-color: transparent; }
    html .type > a,
    body .type > a {
      flex: 1;
      height: 100%;
      line-height: 40px !important;
      display: inline-block;
      text-align: center; }
    html .type > a:not(:last-child),
    body .type > a:not(:last-child) {
      border-right: 1px solid #ccc; }
    html .type > a.mui-active,
    body .type > a.mui-active {
      background: #007aff;
      color: #fff; }
  html .list,
  body .list {
    height: 200px; }
    html .list > div,
    body .list > div {
      height: 100%; }
    html .list .mui-table-view,
    body .list .mui-table-view {
      display: flex; }
      html .list .mui-table-view li,
      body .list .mui-table-view li {
        height: 100px; }
    html .list .mui-slider,
    body .list .mui-slider {
      height: 100%;
      background: #fff; }
      html .list .mui-slider .mui-slider-group,
      body .list .mui-slider .mui-slider-group {
        height: 100%; }
        html .list .mui-slider .mui-slider-group .mui-slider-item,
        body .list .mui-slider .mui-slider-group .mui-slider-item {
          width: 100%;
          height: 100%; }
          html .list .mui-slider .mui-slider-group .mui-slider-item > dl,
          body .list .mui-slider .mui-slider-group .mui-slider-item > dl {
            width: 25%;
            float: left;
            height: 50%;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center; }
            html .list .mui-slider .mui-slider-group .mui-slider-item > dl > dt,
            body .list .mui-slider .mui-slider-group .mui-slider-item > dl > dt {
              width: 50px;
              background: #e7e7e7;
              height: 50px;
              border-radius: 100%;
              text-align: center;
              line-height: 50px;
              margin-bottom: 5px; }
            html .list .mui-slider .mui-slider-group .mui-slider-item > dl > dt.mui-icon,
            body .list .mui-slider .mui-slider-group .mui-slider-item > dl > dt.mui-icon {
              font-size: 35px; }
            html .list .mui-slider .mui-slider-group .mui-slider-item > dl > dt.active,
            body .list .mui-slider .mui-slider-group .mui-slider-item > dl > dt.active {
              background: #ffe141; }
  html .person,
  body .person {
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-top: 170px; }
    html .person > ul,
    body .person > ul {
      width: 100%;
      display: flex; }
      html .person > ul > li,
      body .person > ul > li {
        flex: 1;
        text-align: center; }
        html .person > ul > li > span,
        body .person > ul > li > span {
          margin-right: 5px; }
  html .counter,
  body .counter {
    width: 100%;
    position: absolute;
    bottom: 0; }
    html .counter > ul,
    body .counter > ul {
      width: 100%;
      display: flex;
      border-top: 1px solid #e2e2e2; }
      html .counter > ul > li,
      body .counter > ul > li {
        display: flex;
        width: 100%;
        flex-direction: column; }
        html .counter > ul > li > span,
        body .counter > ul > li > span {
          height: 40px;
          text-align: center;
          line-height: 40px;
          border-bottom: 1px solid #e2e2e2;
          border-right: 1px solid #e2e2e2; }
      html .counter > ul > li:last-child,
      body .counter > ul > li:last-child {
        line-height: 160px;
        text-align: center;
        border-bottom: 1px solid #e2e2e2; }
