* {
  margin: 0;
  padding: 0;
  list-style: none; }

.asideList {
  background: #fff !important; }
  .asideList div.aside-list > div.result {
    margin-top: 30px; }
  .asideList div.aside-list > div {
    margin: 10px 10px; }
    .asideList div.aside-list > div h4 {
      margin: 10px 0; }
    .asideList div.aside-list > div > ul {
      display: flex;
      flex-wrap: wrap; }
      .asideList div.aside-list > div > ul li {
        margin: 5px;
        padding: 2px 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 14px; }
    .asideList div.aside-list > div > span {
      padding: 5px 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-right: 10px; }

.head-nav {
  height: 120px;
  background: #ffe344 !important; }
  .head-nav .first-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    height: 30px; }
    .head-nav .first-nav > ul {
      display: flex;
      height: 30px;
      align-items: center; }
      .head-nav .first-nav > ul > li {
        height: 100%;
        line-height: 30px;
        padding: 2px 5px;
        border: 1px solid #000;
        border-radius: 5px;
        margin: 0 10px; }
        .head-nav .first-nav > ul > li span.icon {
          padding-top: 0; }
  .head-nav .second-nav > span {
    font-size: 25px; }
  .head-nav .three-nav {
    display: flex;
    align-items: center; }
    .head-nav .three-nav > div {
      margin-right: 10px;
      height: 54px;
      line-height: 54px; }
      .head-nav .three-nav > div > p {
        color: #000; }
        .head-nav .three-nav > div > p span {
          font-weight: 600;
          font-size: 18px; }

.content {
  height: 570px;
  margin-top: 120px;
  padding: 10px 0 !important; }
  .content > div.addMoney {
    height: 50px;
    display: flex; }
    .content > div.addMoney > a {
      margin-top: 10px; }
    .content > div.addMoney > p {
      height: 50px;
      margin: 0 40px;
      font-size: 20px;
      justify-content: center;
      display: flex;
      flex-direction: column; }
      .content > div.addMoney > p > span {
        font-size: 14px; }
      .content > div.addMoney > p > span.expend {
        color: #f47c86; }
      .content > div.addMoney > p > span.income {
        color: #4adcad; }
  .content > div.mui-scroll {
    overflow-y: auto;
    height: 520px; }
  .content ul.type-table > li {
    height: 70px; }
    .content ul.type-table > li > div.ullist {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .content ul.type-table > li > div.ullist dl {
        display: flex;
        height: 100%;
        align-items: center; }
        .content ul.type-table > li > div.ullist dl dt {
          background: #fee243;
          padding: 10px;
          border-radius: 100%;
          margin-right: 10px; }
        .content ul.type-table > li > div.ullist dl dd {
          font-size: 14px; }
          .content ul.type-table > li > div.ullist dl dd > div:nth-child(1) {
            font-size: 17px;
            font-weight: 600; }
          .content ul.type-table > li > div.ullist dl dd > div:nth-child(2) {
            color: #ccc;
            width: 100%; }
      .content ul.type-table > li > div.ullist > span.green {
        color: #4adcad; }
      .content ul.type-table > li > div.ullist > span.red {
        color: #f47c86; }
  .content button.mui-icon {
    font-size: 60px !important; }

.mui-inner-wrap {
  position: relative; }
  .mui-inner-wrap > button.add {
    position: absolute;
    bottom: 50px;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background: #fee04c;
    left: 45%;
    z-index: 10; }
